<form action="/" method="post">
  Url: <input type="text" name="url" required/>
  Title: <input type="text" name="title" required/>
  Tag: <input type="text" name="tags" placeholder="#beer, #pingpong, #cake"/>
  <button type="submit">Add</button>
</form>
