<form action="/" method="post">
  Url: <input type="text" name="url" required/>
  Title: <input type="text" name="title" required/>
  Tags: <input type="text" name="tags" placeholder="#beer, #cake, #table tennis"/>
  <button type="submit">Add</button>
</form>
