<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <div class="entry">
      <a href="<%=link.url%>"><%= link.title %> </a>
      <p>Tags: <%=@bookmark.tags_to_string(@links.tags)%></p>
    </div>
  <% end %>
</ul>
