<h1> Links </h1>
<form action="/add"> <button type="submit">Add new link</button></form>
<ul id='links'>
  <% @links.each do |link| %>
    <div class="entry">
      <a href="<%=link.url%>"><%= link.title %> </a>
      <p>Tags: <%=@bookmark.tags_to_string(link.tags)%></p>
    </div>
  <% end %>
</ul>



<style>

  body {
    background-color: #800000;
  }

  div {
    margin: 5px;
    padding: 20px;
    background-color: #ff8080;
    width: 500px;
  }

</style>
